absl-py==2.2.2
addict==2.4.0
anaconda==0.0.1.1
anaconda-anon-usage
annotated-types
anyio==4.9.0
archspec
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
array_record==0.7.2
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
bitarray==3.4.2
bleach==6.2.0
boltons
Brotli
certifi
cffi
charset-normalizer
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
conda
conda-anaconda-telemetry
conda-anaconda-tos
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
cryptography
Cython==3.1.1
debugpy==1.8.14
decorator==5.2.1
distro
dm-tree==0.1.9
docstring_parser==0.16
einops==0.8.1
emnist==0.0
etils==1.12.2
exceptiongroup
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
flatbuffers==25.2.10
fqdn==1.5.1
frozendict
fsspec==2025.5.0
gast==0.6.0
google-pasta==0.2.0
googleapis-common-protos==1.70.0
greenlet==3.2.3
grpcio==1.71.0
h11==0.16.0
h5py==3.13.0
hf-xet==1.1.7
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.34.4
humanfriendly==10.0
idna
imageio==2.37.0
immutabledict==4.2.1
importlib_metadata
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==9.3.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.0
json5==0.12.0
jsonpatch
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kaggle==1.7.4.5
keras==3.10.0
keras-nightly==3.10.0.dev2025052203
libclang==18.1.1
libmambapy
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
menuinst
mistune==3.1.3
ml_dtypes==0.5.1
mltu==1.2.5
mpmath==1.3.0
namex==0.0.9
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==7.4.3
notebook_shim==0.2.4
numpy==2.1.3
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
onnxruntime==1.22.0
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.15.0
orjson==3.10.18
overrides==7.7.0
packaging
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect
pickleshare
pillow==11.3.0
platformdirs==4.3.8
pluggy
prettytable==3.16.0
prometheus_client==0.22.0
promise==2.3
prompt_toolkit==3.0.51
protobuf==6.31.0
psutil
ptyprocess
pure_eval==0.2.3
pyarrow==20.0.0
pybsc==0.1.69
pycairo==1.23.0
pycosat
pycparser
pycrypto==2.6.1
pycryptodome==3.23.0
pydantic
pydantic_core
pydot==4.0.1
Pygments==2.19.1
pyperclip==1.9.0
PySocks
python-dateutil
python-json-logger==3.3.0
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
pyzpaq==0.1.11
qqdm==0.0.7
ravdec==3.4
referencing==0.36.2
regex==2025.7.34
requests
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.25.1
ruamel.yaml
ruamel.yaml.clib
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
Send2Trash==1.8.3
sequitur==1.2.4
setuptools==80.9.0
shapely==2.1.1
simple-crypt==4.1.7
simple-parsing==0.1.7
six
sniffio==1.3.1
SQLAlchemy==2.0.41
sqlparse==0.5.3
stack-data==0.6.3
stow==1.4.1
sympy==1.14.0
tb-nightly==2.19.0a20250218
tensorboard-data-server==0.7.2
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.2
termcolor==3.1.0
terminado==0.18.1
text-unidecode==1.3
tf_nightly==2.20.0.dev20250516
threadpoolctl==3.6.0
tokenizers==0.21.4
toml==0.10.2
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.55.2
triton==3.3.1
truststore
types-python-dateutil==2.9.0.20250516
typing_extensions
tzdata==2025.2
uri-template==1.3.0
urllib3
wcwidth==0.2.13
webcolors==24.11.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
zipp==3.23.0
zstandard
